# Azure OpenAI Service
AOAI_ENDPOINT = https://xxxxxxxx.services.ai.azure.com/
AOAI_MODEL_NAME = gpt-5-chat
AOAI_MODEL_NAME_FAST = gpt-4.1-nano
AOAI_AVAILABLE_MODELS=gpt-5.4, gpt-5.2, gpt-5-chat



AOAI_KEY = 
AOAI_API_VERSION = "2024-10-21"

AOAI_REALTIME_ENDPOINT = https://xxxxxxx.openai.azure.com
AOAI_REALTIME_KEY = 
REALTIME_MODEL = gpt-realtime-1.5
WHISPER_MODEL = gpt-realtime-whisper



HISTORY_STORAGE_MODE = local
PROMPT_STORAGE_MODE=local  


#Azure Blob Storage
STORAGE_ACCOUNT_NAME = xxxxxx
BLOB_CONNECT_STR = 

PROMPT_CONTAINER_NAME = test-prompt
HISTORY_CONTAINER_NAME = test-history

CONTAINER_INPUT = xxxxx
CONTAINER_OUTPUT = xxxxx
CONTAINER_PROCESSED = xxxxxx
BLOB_CONNECT_STR = xxxxxxx
UPLOAD_CONTAINER_NAME = xxxxxx
CHUNK_CONTAINER_NAME = xxxxxx



#ローカル用
PROMPT_LOCAL_DIR=prompts  



#Azure AI Search
SEARCH_ENDPOINT = https:/xxxxxx.search.windows.net
SEARCH_KEY = 
SEARCH_INDEX =xxxxxx-index
SEMANTIC_CONFIG_NAME = xxxxxx-index-semantic-configuration

DOC_SEARCH_INDEX = 
DOC_SEMANTIC_CONFIG_NAME =


SEARCH_TOP_COUNT = 5


#Azure AI Document Intelligence
ADI_ENDPOINT = https://xxxxxx.cognitiveservices.azure.com/
ADI_KEY =
ADI_MODEL = "prebuilt-layout"


# 認証設定
TEST_GROUP = admin
ADMIN_GROUP_ID = 
USER_GROUP_ID = 