fastapi
uvicorn
jinja2
python-dotenv
openai
openai[realtime]
azure-identity
azure-storage-blob
azure-search-documents
requests
azure-ai-documentintelligence
azure-storage-queue
azure-monitor-query
azure-core
python-multipart